<div class="container">
    <div class="row">
        <div class="col-md-10 offset-2">
            <div class="text-center header">User List</div>
            <div class="card">
              
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">

                      
                    <table class="table table-bordered">
                        <thead>
                            <th>Sno</th>
                            <th>User Id</th>
                            <th>Title</th>
                            <th>Created Date</th>
                        </thead>
                        <tbody>
                                                       <tr *ngFor="let user of UserList,let i=index">
                                                           <td>{{i+1}}</td>
<td>{{user.user_id}}</td>
<td>{{user.title}}</td>
<td>{{user.created_at | date:'dd-MM-yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
                </div>
            </div>
        </div>
    </div>
</div>
